
<h1><%=@album.name.upcase %></h1>
<%=link_to "Add Photo",new_photo_url ,class: "btn btn-primary"%>

<div class="container">

  <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Gallery</h1>

  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-start">
    <%@album.photos.each do |photo| %>
      <div class="col-lg-3 col-md-4 col-6">
        <div><%= image_tag photo.image.url(:medium) %></div>
        <div>&nbsp;</div>
      </div>
    <% end %>
  </div>

</div>